#include <{{ project_name }}/{{ module }}.hpp>

#include <string>
#include <string_view>

namespace {{ namespace }}::{{ module }}
{

std::string greet(std::string_view name)
{
    return "Hello from {{ module }}, " + std::string(name) + "!";
}

} // namespace {{ namespace }}::{{ module }}
