name: CI

on:
  push:
    branches: [main, master]
  pull_request:

concurrency:
  group: ${{ '{{' }} github.workflow {{ '}}' }}-${{ '{{' }} github.ref {{ '}}' }}
  cancel-in-progress: true

jobs:
  build:
    name: ${{ '{{' }} matrix.name {{ '}}' }}
    runs-on: ${{ '{{' }} matrix.os {{ '}}' }}
    strategy:
      fail-fast: false
      matrix:
        include:
{%- if 'windows' in platforms and 'x64' in architectures and 'msvc' in windows_compilers %}
          - name: Windows MSVC
            os: windows-latest
            preset: windows-x64-msvc-vs-debug
{%- elif 'windows' in platforms and 'x64' in architectures and 'clang-cl' in windows_compilers %}
          - name: Windows
            os: windows-latest
            preset: windows-x64-clang-cl-ninja-debug
{%- elif 'windows' in platforms and 'x64' in architectures and 'clang' in windows_compilers %}
          - name: Windows
            os: windows-latest
            preset: windows-x64-clang-ninja-debug
{%- elif 'windows' in platforms and 'arm64' in architectures and 'msvc' in windows_compilers %}
          - name: Windows
            os: windows-latest
            preset: windows-arm64-msvc-vs-debug
{%- elif 'windows' in platforms and 'arm64' in architectures and 'clang-cl' in windows_compilers %}
          - name: Windows
            os: windows-latest
            preset: windows-arm64-clang-cl-ninja-debug
{%- elif 'windows' in platforms and 'arm64' in architectures and 'clang' in windows_compilers %}
          - name: Windows
            os: windows-latest
            preset: windows-arm64-clang-ninja-debug
{%- endif %}
{%- if 'linux' in platforms and 'x64' in architectures and 'gcc' in linux_compilers and 'ninja' in linux_generators %}
          - name: Linux GCC
            os: ubuntu-latest
            preset: linux-x64-gcc-ninja-debug
{%- elif 'linux' in platforms and 'x64' in architectures and 'gcc' in linux_compilers and 'make' in linux_generators %}
          - name: Linux
            os: ubuntu-latest
            preset: linux-x64-gcc-make-debug
{%- elif 'linux' in platforms and 'x64' in architectures and 'clang' in linux_compilers and 'ninja' in linux_generators %}
          - name: Linux
            os: ubuntu-latest
            preset: linux-x64-clang-ninja-debug
{%- elif 'linux' in platforms and 'x64' in architectures and 'clang' in linux_compilers and 'make' in linux_generators %}
          - name: Linux
            os: ubuntu-latest
            preset: linux-x64-clang-make-debug
{%- elif 'linux' in platforms and 'arm64' in architectures and 'gcc' in linux_compilers and 'ninja' in linux_generators %}
          - name: Linux
            os: ubuntu-latest
            preset: linux-arm64-gcc-ninja-debug
{%- elif 'linux' in platforms and 'arm64' in architectures and 'gcc' in linux_compilers and 'make' in linux_generators %}
          - name: Linux
            os: ubuntu-latest
            preset: linux-arm64-gcc-make-debug
{%- elif 'linux' in platforms and 'arm64' in architectures and 'clang' in linux_compilers and 'ninja' in linux_generators %}
          - name: Linux
            os: ubuntu-latest
            preset: linux-arm64-clang-ninja-debug
{%- elif 'linux' in platforms and 'arm64' in architectures and 'clang' in linux_compilers and 'make' in linux_generators %}
          - name: Linux
            os: ubuntu-latest
            preset: linux-arm64-clang-make-debug
{%- endif %}
{%- if 'macos' in platforms and 'arm64' in architectures and 'clang' in macos_compilers and 'ninja' in macos_generators %}
          - name: macOS Clang
            os: macos-latest
            preset: macos-arm64-clang-ninja-debug
{%- elif 'macos' in platforms and 'x64' in architectures and 'clang' in macos_compilers and 'ninja' in macos_generators %}
          - name: macOS
            os: macos-latest
            preset: macos-x64-clang-ninja-debug
{%- elif 'macos' in platforms and 'x64' in architectures and 'clang' in macos_compilers and 'xcode' in macos_generators %}
          - name: macOS
            os: macos-latest
            preset: macos-x64-clang-xcode-debug
{%- elif 'macos' in platforms and 'arm64' in architectures and 'clang' in macos_compilers and 'xcode' in macos_generators %}
          - name: macOS
            os: macos-latest
            preset: macos-arm64-clang-xcode-debug
{%- endif %}

    steps:
      - uses: actions/checkout@v4

      - uses: lukka/get-cmake@latest
{% if use_vcpkg %}

      - uses: lukka/run-vcpkg@v11
{% endif %}

      - uses: lukka/run-cmake@v10.9
        with:
          workflowPreset: ${{ '{{' }} matrix.preset {{ '}}' }}
