#pragma once

#include <string>
#include <string_view>

namespace {{ namespace }}::{{ module }}
{

[[nodiscard]] std::string greet(std::string_view name = "world");

} // namespace {{ namespace }}::{{ module }}
